{% extends 'base.html' %}

{% load i18n %}
{% load staticfiles %}

{% block title %}
    {{ block.super }} – {% trans 'Termine' %}
{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link href="{% static 'fullcalendar/dist/fullcalendar.min.css' %}" rel="stylesheet">
    <link href="{% static 'qtip2/jquery.qtip.min.css' %}" rel="stylesheet">
    <style>
        /* Allow wrapping event titles by overriding default fullcalendar CSS */
        .fc-day-grid-event > .fc-content {white-space: normal;}

        /* Event color mapping with bootstrap color names */
        .event-default {background-color: #777; border-color: #777;}
        .event-primary {background-color: #337ab7; border-color: #337ab7;}
        .event-success {background-color: #5cb85c; border-color: #5cb85c;}
        .event-info {background-color: #5bc0de; border-color: #5bc0de;}
        .event-warning {background-color: #f0ad4e; border-color: #f0ad4e;}
        .event-danger {background-color: #d9534f; border-color: #d9534f;}
    </style>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'moment/min/moment.min.js' %}"></script>
    <script src="{% static 'fullcalendar/dist/fullcalendar.min.js' %}"></script>
    <script src="{% static 'fullcalendar/dist/locale-all.js' %}"></script>
    <script src="{% static 'qtip2/jquery.qtip.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                events: {{ event_list_json|safe }},
                locale: '{{ LANGUAGE_CODE }}',
                timezone: 'local',
                eventRender: function(event, element, view) {
                    element.qtip({
                        content: event.description,
                        show: {
                            event: 'click',
                            delay: 0,
                        },
                        hide: {
                            event: 'unfocus'
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}

{% block jumbotron_inner %}
    <p>{% trans 'Alle Veranstaltungen der Gemeinde findet ihr hier im Kalender.' %}</p>
{% endblock %}

{% block main_content %}
    <p class="label label-primary">{% trans 'Für mehr Infos klicke auf den Kalendereintrag.' %}</p>
    <div id="calendar" style="margin-top:1.5em;"></div>
{% endblock %}
