{% extends 'base.html' %}

{% load i18n %}
{% load staticfiles %}

{% block title %}
    {{ block.super }} – {% trans 'Termine' %}
{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link href="{% static 'fullcalendar/dist/fullcalendar.css' %}" rel="stylesheet">
    <style>
        /* Allow wrapping event titles by overriding default fullcalendar CSS */
        .fc-day-grid-event > .fc-content {white-space: normal;}
    </style>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'moment/moment.js' %}"></script>
    <script src="{% static 'fullcalendar/dist/fullcalendar.min.js' %}"></script>
    <script src="{% static 'fullcalendar/dist/lang-all.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                events: {{ event_list_json|safe }},
                lang: '{{ LANGUAGE_CODE }}',
                timezone: 'local',
            });
        });
    </script>
{% endblock %}

{% block jumbotron_inner %}
    <p>{% trans 'Alle Veranstaltungen der Gemeinde findet ihr hier im Kalender.' %}</p>
{% endblock %}

{% block main_content %}
    <div id="calendar"></div>
{% endblock %}
