{% extends 'base.html' %}

{% load i18n %}
{% load staticfiles %}

{% block title %}
    {{ block.super }} – {{ flatpage.title }}
{% endblock %}

{% block jumbotron_inner %}
    {% if flatpage.header_image_url %}
        <p><img src="{{ flatpage.header_image_url }}" alt="" width="100%"></p>
    {% endif %}
    <p>{{ flatpage.headline }}</p>
{% endblock %}

{% block main_content %}
    {{ flatpage.content|safe }}
{% endblock %}

{% block footer_links %}
    {{ block.super }}
    {% if user.is_staff %}
        <li><a href="{% url 'admin:esg_leipzig_homepage_2015_flatpage_change' flatpage.pk %}">{% trans 'Seite bearbeiten' %}</a</li>
    {% endif %}
{% endblock %}
