{% extends 'base.html' %}

{% load custom_templatetags %}
{% load i18n %}
{% load staticfiles %}

{% block stylesheets %}
    <link href="{% static 'css/jumbotron-narrow.css' %}" rel="stylesheet">
{% endblock %}

{% block javascript %}{% endblock %}

{% block body %}
    <a href="#main_content" class="sr-only">{% trans 'Zum Inhalt springen' %}</a>
    <div class="container">
        <div class="header">
            <nav role="navigation">
                <ul class="nav nav-pills pull-right">
                    <li role="presentation">
                        <a href="{% url 'calendar' %}">{% trans 'Termine' %}</a>
                    </li>
                    {% for flatpage in flatpages %}
                        {% if flatpage.is_in_navbar %}
                            <li role="presentation">
                                <a href="{{ flatpage.get_absolute_url }}">{{ flatpage.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
            <h3 class="text-muted">ESG Leipzig</h3>
        </div><!-- /.header -->
        <div class="jumbotron">
            <h1>ESG Leipzig</h1>
            <p class="lead">
                {% trans 'Herzlich willkommen auf der Webseite der Evangelischen Studierendengemeinde (ESG) Leipzig. Schau dich um und komm vorbei. Wir freuen uns auf dich.' %}
            </p>
            {% if flatpages %}
                <p>
                    <a class="btn btn-lg btn-primary" href="{{ flatpages.0.get_absolute_url }}">
                        {% trans 'Weiter gehts hier' %} <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                    </a>
                </p>
            {% endif %}
        </div><!-- /.jumbotron -->
        {% for event in event_list %}
            {% if not forloop.counter|divisibleby:2 %}
                <div class="row marketing">
            {% endif %}
            <div class="col-lg-6">
                <h3>{{ event.title }}</h3>
                <p>
                    <span class="label label-primary">
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ event.begin }} {% if event.duration %} – {{ event.end }}{% endif %}
                    </span>
                </p>
                {{ event.content|safe }}
            </div>
            {% if forloop.counter|divisibleby:2 or forloop.last %}
                </div><!-- /.row marketing -->
            {% endif %}
        {% endfor %}
        <footer class="footer">
            &copy; {% copyright_note %}
            <ul class="list-inline pull-right">
                <li><a href="https://github.com/ESG-Leipzig/Homepage-2015/">{% trans 'Quellcode' %}</a></li>
                <li><a href="{% url 'admin:index' %}" >{% trans 'Administration' %}</a></li>
            </ul>
        </footer>
    </div><!-- /.container -->
{% endblock %}
