{% extends 'base.html' %}

{% load custom_templatetags %}
{% load i18n %}
{% load staticfiles %}

{% block stylesheets %}
    <link href="{% static 'css/jumbotron-narrow.css' %}" rel="stylesheet">
{% endblock %}

{% block javascript %}{% endblock %}

{% block body %}
    <a href="#main_content" class="sr-only">{% trans 'Zum Inhalt springen' %}</a>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    {% for flatpage in flatpages %}
                        {% if flatpage.is_in_navbar %}
                            <li role="presentation"><a href="{{ flatpage.get_absolute_url }}">{{ flatpage.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
            <h3 class="text-muted">ESG Leipzig</h3>
        </div><!-- /.header -->
        <div class="jumbotron">
            <h1>ESG Leipzig</h1>
            <p class="lead">Evangelische Studierendengemeinde Leipzig</p>
            <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
        </div><!-- /.jumbotron -->
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Subheading</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
                <h4>Subheading</h4>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
                <h4>Subheading</h4>
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </div>
            <div class="col-lg-6">
                <h4>Subheading</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
                <h4>Subheading</h4>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
                <h4>Subheading</h4>
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </div>
        </div><!-- /.row marketing -->
        <footer class="footer">
            <p>&copy; {% copyright_note %}</p>
        </footer>
    </div><!-- /.container -->
{% endblock %}
